<table width="100%" border="0">
  <tr align="center">
    <td width="25%" height="500">
      <a href="http://192.168.4.250:9243">1号机箱<br><br><br><br><%= image_tag 'jx.png', :size => '235x368'%></a>
    </td>
    <td width="25%" height="500">
      <a href="http://192.168.4.250:9243">2号机箱<br><br><br><br><%= image_tag 'jx.png', :size => '235x368'%></a>
    </td>
    <td width="25%" height="500">
      <a href="http://192.168.4.250:9243">3号机箱<br><br><br><br><%= image_tag 'jx.png', :size => '235x368'%></a>
    </td>
    <td width="25%" height="500">
      <a href="http://192.168.4.250:9243">4号机箱<br><br><br><br><%= image_tag 'jx.png', :size => '235x368'%></a>
    </td>
  </tr>

  <tr align="center">
    <td width="25%" height="100">
      <a href="http://192.168.4.182:3000/channels">查看数据</a>
    </td>
    <td width="25%" height="100">
      <a href="http://192.168.4.182:3000/channels">查看数据</a>
    </td>
    <td width="25%" height="100">
      <a href="http://192.168.4.182:3000/channels">查看数据</a>
    </td>
    <td width="25%" height="100">
      <a href="http://192.168.4.182:3000/channels">查看数据</a>
    </td>
  </tr>
</table>
